<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
</head>

<body>
    <h1>Hills</h1>
    <p>You have entered the name of hill is :
        <%= hill %>
    </p>
    <p>Name:
        <%= hills.name %>
    </p>
    <ul>
        Colors:
        <% hills.colors.forEach((hill)=>{ %>
        <li>
            <%= hill %>
        </li>
        <% })%>
    </ul>
</body>

</html>